/*
 * Dit is de custom style sheet van jouw website
 *
 */

/*inports*/
@import url(https://fonts.googleapis.com/css?family=Poppins|Montserrat);

body {
	
	background-color: #fff;
}

a {
	
	text-decoration: none;
}

*{
	margin: 0 auto;
}

.remove{
	color: #D91E18 !important;
}

.title{
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	    width: 100%;
    float: left;
    margin-bottom: 0;
}

.genre{
	color: #fff;
	font-size: 1.2em;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color:#007EA7;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 60px;
	height: auto;
	float: left;
	text-align: center;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.optiongenre{
text-transform: capitalize;
}

.songwrapper{
	background-size: cover;
	height: 30vh;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	padding: 20px;
}
.wrappercontent{
	background-size: cover;
	float: left;
	height: 40vh;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

.banner{
	width: 100vw;
	height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.headersingle{
	opacity:1!important;
	text-transform: uppercase;
	margin: 0;
	font-size:3em;
	color: #111111;
	text-align: center;
}
.border {
	margin-top: -1px;
	background-color: #DDDDDD;
}
.descborder{
	margin-top: -20px;
	color: #111111;
	text-align: center;
}
#succestext{
	padding: 8px!important;
}
h1{
	font-size: 20px;
}
.form-box {
	padding-top: 40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-bottom p { opacity: 0.8; color: #fff; }
h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    text-align: center;
    line-height: 50px;
}